<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <link rel='stylesheet' type='text/css' href='/stylesheets/homePageStyle.css'>
  </head>

  <body>

    <!-- HEADER -->
    <div class="header">
      <div class="headerInner">
      	<img src="/Images/ourLogo.png" alt="logo" class="logo" >
			</div>
      <div class="headerInner" style="width: 100%;">
      <h1><br>This is your courses </h1>
      </div>
    </div>

    <!-- NAV BAR -->
    <div class="navbar">
      <a href="/home">Home</a>
      <a href="/Courses" class="active">My Courses</a>
      <a href="/signOut" class="right">Sign Out</a>
      <a href="" class="right">My Account</a>
    </div>

    <!-- Main data for the page -->
    <div class="main">
      <!-- Write all main code here -->

      {{#each courses}}
        <div class="post">
          <p class ="postData"> <b>{{ title }}<br></b>Teacher: {{ teacher }}<br>Last updated: {{ date }} <br><br>{{content}}</p>
          <form action="ForumPage" method="post">
            <button type="submit" name="theCourseID" value={{ courseID }} class="btn-link">Go</button>
          </form>
        </div>
      {{/each}}

    </div>

    <!-- FOOTER -->
    <div class="footer">
      <h9>Gearoid & Aaron's footer</h9>
      <p><br><br>Gearoid H:</p>
      <p>Contact information: <a href="mailto:test@gmit.ie">test@gmit.ie</a></p>
      <p><br><br>Aaron McK:</p>
      <p>Contact information: <a href="mailto:test@gmit.ie">test@gmit.ie</a></p>
    </div>

  </body>
</html>
