<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <link rel='stylesheet' type='text/css' href='/stylesheets/forumPageStyle.css'>
  </head>

  <body>
    <!-- HEADER -->
    <div class="header">
      <div class="headerInner">
        <img src="/Images/ourLogo.png" alt="logo" class="logo" >
      </div>
      <div class="headerInner" style="width: 100%;">
      <h1><br>This is course ID: {{ courseID }} </h1>
      </div>
    </div>

    <!-- NAV BAR -->
    <div class="navbar">
      <a href="/home">Home</a>
      <a href="/Courses">My Courses</a>
      <a href="/signOut" class="right">Sign Out</a>
    </div>


    <!-- Main data for the page -->
    <div class="main">

      {{#each posts}}
      <div class="outerPost" >
        <div class="post">
          <p class="postData"><b>{{author}}</b><br><br>Date: {{ date }}<br>Time: {{time}}</p>
          <p class ="postContent">{{content}}</p>
        </div>
      </div>
      {{/each}}

      <!-- Reply -->
      <form action="newPost" method="POST">
        <textarea class="newPost" name="data" cols="50" rows="5" placeholder="Write your Reply here" required></textarea>
				<button id="newReply" type="submit" text-align="center">Post Reply</button>
        <input type="hidden" name="theCourseID" value={{ courseID }}>
			</form>
    </div>

    <!-- FOOTER -->
    <div class="footer">
      <div class="footerInner">

        <h5>Contact information:</h5>
        <p>Gearoid H: <a href="mailto:g0308088@gmit.ie">G0308088@gmit.ie</a></p>
        <p>Aaron McK: <a href="mailto:g00299523@gmit.ie">G00299523@gmit.ie</a></p>
      </div>
      <div class="footerInner">
        <h5>JavaScript</h5>
        <a href="/getAppStatic" >App.js </a>
        <a href="/getIndexStatic" ><br><br>index.js</a>
        <h5><br><br>Models</h5>
        <a href="/getCoursesModel" >courses.js</a>
        <a href="/getPostsModel" ><br><br>posts.js</a>
        <a href="/getUsersModel" ><br><br>users.js</a>
        <a href="/javascripts/myfirstModule.js" ><br><br>Time Module</a>
      </div>
      <div class="footerInner">
        <h5>HTML</h5>
        <a href="/getHomeStatic" >Home.hbs</a>
        <a href="/getCoursesStatic" ><br><br>Courses.hbs</a>
        <a href="/getForumStatic" ><br><br>Forum.hbs</a>
        <a href="/getLoginStatic" ><br><br>Login.hbs</a>
      </div>
      <div class="footerInner">
        <h5>Stylesheets</h5>
        <a href="/getLoginStyleStatic" >Login.css</a>
        <a href="/getPagesStyleStatic" ><br><br>pages.css</a>
      </div>
      <div class="footerInner">
        <h5>Database screen shots</h5>
        <a href="/Images/databaseScreenshot.png" >Database</a>
        <a href="/Images/collectionCourses.png" ><br><br>'Courses' Collection</a>
        <a href="/Images/collectionPosts.png" ><br><br>'Posts' Collection</a>
        <a href="/Images/collectionUsers.png" ><br><br>'Users' Collection</a>
      </div>
    </div>

  </body>

</html>


</body>
</html>
